/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: #fdfdfd;
    color: #333;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    
}
/* Header & Navigation */
header {
    background: linear-gradient(to right, #a8edea, #fed6e3); /* Pastel Gradient */
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    align-items: center;
    text-decoration: none;
    color: #555;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fda085;
    text-decoration: underline;
}

nav ul li a:active {
    color: #fda085; 
    text-decoration: underline;
}

/* Main Content */
main {
    flex: 1; 
    padding: 50px 5%;
    justify-content: center;
    /*align-items: center;*/
    align-items: stretch;
}

/*skills section: */

h1 {
    text-transform: uppercase;
    text-align: center;
    font-style: italic ;
    font-size:50px;
    margin:auto;
    color:#e63946;
    padding-bottom: 25px;
}

.skill {
    padding: 50px 5%;
    background: #fafafa;
    text-align: center;
}
.skill-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-nom {
    background: linear-gradient(to bottom, #fdfbfb, #ebedee);
    display: flex;
    align-items: center; 
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    height: 100px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-bottom: 2px solid #e63946;
}

.skill-nom img {
    width: 40%;
    height: 60%;
    margin-right: 16px;
    margin-left: 16px;
    object-fit: contain; 
}

.skill-nom p {
    margin: 0;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.skill-nom:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* Footer */

footer {
    background: linear-gradient(to right, #a8edea, #fed6e3);
    color: #555;
    text-align: center;
    padding: 30px;
}

.socials a {
    font-weight: bold;
    color: #333;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #fda085;
}


footer p {
    margin-top: 8px;
    font-size: 15px;
}

footer h3{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: #333;
    margin: 5px;
}
.socials a img {
    width: 40px; 
    height: auto; 
    margin: 16px 8px;
    vertical-align: middle; 
    transition: transform 0.3s ease; 
}

.socials a img:hover {
    transform: scale(1.1); 
}
